<footer class="main-footer">
    <div class="pull-right hidden-xs">
      &nbsp;
    </div>
    
    <strong>
    	Copyright &copy;
    	2018

    	<a target="_blank" href="#"> MHmiton</a>.
	</strong> 
	All rights reserved.
</footer>