<script src="assets/back_end/bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/bower_components/raphael/raphael.min.js" type="text/javascript" language="javascript"></script>

<%# <script src="assets/back_end/bower_components/morris.js/morris.min.js" type="text/javascript" language="javascript"></script> %>

<script src="assets/back_end/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js" type="text/javascript" language="javascript"></script>

<%# <script src="assets/back_end/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript" language="javascript"></script> %>

<%# <script src="assets/back_end/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript" language="javascript"></script> %>

<script src="assets/back_end/bower_components/jquery-knob/dist/jquery.knob.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/bower_components/moment/min/moment.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/bower_components/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/bower_components/fastclick/lib/fastclick.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/dist/js/adminlte.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/dist/js/pages/dashboard.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/dist/js/demo.js" type="text/javascript" language="javascript"></script>

<%# <script src="assets/back_end/bower_components/ckeditor/ckeditor.js" type="text/javascript" language="javascript"></script> %>

<script src="assets/back_end/bower_components/select2/dist/js/select2.full.min.js" type="text/javascript" language="javascript"></script>


<script src="assets/back_end/bower_components/datatables.net/js/jquery.dataTables.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/richText_editor/js/jquery.richtext.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/Tag-Input/tagsinput.js" type="text/javascript" language="javascript"></script>


<!-- Plagins -->
<script src="assets/back_end/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/plugins/input-mask/jquery.inputmask.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/plugins/iCheck/icheck.min.js" type="text/javascript" language="javascript"></script>



<!-- Dasboard 2 js -->
<%# <script src="assets/back_end/bower_components/chart.js/Chart.js" type="text/javascript" language="javascript"></script>

<script src="assets/back_end/dist/js/pages/dashboard2.js" type="text/javascript" language="javascript"></script> %>



<script>
	$.widget.bridge('uibutton', $.ui.button);

	$(function () {
    $('#tagsinput').tagsinput();
    $('.select2').select2();
    $('.date').inputmask('dd-mm-yyyy', { 'placeholder': 'dd-mm-yyyy' });

    $('.date').datepicker({
      orientation: "auto bottom",
      format:"dd-mm-yyyy",
      todayBtn: true,
      todayHighlight: true,
      autoclose: true
    });

    $('#birth_date').datepicker({
        orientation: "auto bottom",
        format:"dd-mm-yyyy",
        autoclose: true
    }).datepicker("update", "01/01/1980");

    //$('#data_table').DataTable();
    $('#data_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  });

  $(function () {
      // Replace the <textarea id="editor1"> with a CKEditor
      // instance, using default configuration.
      // CKEDITOR.replace('editor', {
      //     uiColor: 'rgba(192,192,192,0.3)'
      // })
      //bootstrap WYSIHTML5 - text editor
      //$('#editor').wysihtml5()
      //$('#editor').richText();
  });

  $(function () {
    //Enable iCheck plugin for checkboxes
    //iCheck for checkbox and radio inputs
    $('.mailbox-messages input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });

    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("check");
        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });

    //Handle starring for glyphicon and font awesome
    $(".mailbox-star").click(function (e) {
      e.preventDefault();
      //detect type
      var $this = $(this).find("a > i");
      var glyph = $this.hasClass("glyphicon");
      var fa = $this.hasClass("fa");

      //Switch states
      if (glyph) {
        $this.toggleClass("glyphicon-star");
        $this.toggleClass("glyphicon-star-empty");
      }

      if (fa) {
        $this.toggleClass("fa-star");
        $this.toggleClass("fa-star-o");
      }
    });
  });
</script>
