<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/back_end/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Mehediul Hassan Miton</p>
          <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>

        <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

		<li class="treeview">
			<a href="#">
			  <i class="fa fa-cog"></i> <span>Setup</span>
			  <span class="pull-right-container">
			    <i class="fa fa-angle-left pull-right"></i>
			  </span>
			</a>
			<ul class="treeview-menu">
			  <li><a href="#"><i class="fa fa-circle-o"></i>Basic Manage</a></li>
			</ul>
		</li>

        <li><a href="/student"><i class="fa fa-users"></i> <span>Student Manage</span></a></li>

        <li><a href="#"><i class="fa fa-area-chart"></i> <span>Member Report</span></a></li>

        <li><a href="#"><i class="fa fa-hand-peace-o"></i> <span>Success Report</span></a></li>

        <li><a href="#"><i class="fa fa-warning"></i> <span>Re-Committed Report</span></a></li>

        <li><a href="#"><i class="fa fa-sign-out"></i> <span>Log Out</span></a></li>

        <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Invoice</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Profile</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Login</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Register</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 500 Error</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Blank Page</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Pace Page</a></li>
          </ul>
        </li> -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
