<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/_head') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Header -->
  <%- include('../partials/_header') %>
  <!-- left-sidebar -->
  <%- include('../partials/_left_menu') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="full_window" style="min-height: 900px !important; background-color: #ecf0f5;">
    <div class="content-wrapper">
      <%- include('../pages/'+content_path) %>
    </div>
  </div>
  <!-- /.content-wrapper -->


  <!-- Footer Section -->
  <%- include('../partials/_footer') %>

  <!-- Control/Right Sidebar -->
  <%- include('../partials/_right_menu') %>


  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>

  <%- include('../partials/_js_link') %>
<!-- ./wrapper -->

</body>
</html>
