/*=====================================================================================================================
														LOG IN SECTION
=======================================================================================================================*/
*{margin:0px; padding:0px; font-family: 'Exo 2', sans-serif;}
*::-moz-selection{background:#000; color:#e5601e ; } *::selection{background:#000; color:#e5601e ; }

/*LOG IN SECTION*/
.title{margin: 60px 0px 0px 0px; text-align: center;}
.title h1{color: #d89104; font-size: 50px; letter-spacing: 1px;}
.title h1:first-letter{color: rgb(40,167,69); font-size: 60px;}
.title small{font-size: 14px; letter-spacing: 15.5px; color: #d89104; opacity: 0.7;}


.div_center{position:relative; left:50%; transform:translateX(-50%);}
.log_in_wrap{min-height: 320px; margin: 20px 0px 0px 0px; color: #000; padding: 40px;}
.form_heading{text-align: center;}
.form_heading h1{padding: 10px 0px; color: rgb(40,167,69);}
.prompt{box-shadow: none !important; font-size: 14px; margin-top: 5px;}

.s_btn{padding:5px 15px; margin: 10px 0px; letter-spacing:0.5px;}
.s_btn:hover{background: rgb(40,167,69); border: 1px solid rgb(40,167,69); transition: 0.5s; }

/*responsive*/
@media only screen and (max-width: 770px)
{
	.log_in_wrap{font-size: 14px;}
	.title h1{font-size: 30px; }
	.title h1:first-letter{font-size: 40px;}
	.title small{font-size: 12px; letter-spacing: 12px;}
}

@media only screen and (max-width: 420px)
{
	.log_in_wrap{font-size: 12px; padding: 0px;}
	.title h1{font-size: 20px; }
	.title h1:first-letter{font-size: 30px;}
	.title small{font-size: 10px; letter-spacing: 10px;}
	.prompt{height: 35px;}
	.s_btn{font-size: 12px; width: 80px;}
}

/*END LOG IN SECTION*/