 <div class="container" style="padding:50px;">
      <div class="col-md-12">

        <form id="form" action="/save" method="post" onsubmit="save(event);" enctype="multipart/form-data">
            <input type="hidden" name="token" id="token" value="<%= token %>">

            <div class="form-group">
              <label>Name</label>
              <input class="form-control" type="text" name="name" id="name" required>
            </div>

            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="text" name="email" id="email" required>
            </div>

            <div class="form-group">
              <label>Mobile</label>
              <input class="form-control" type="text" name="phone" id="phone" required>
            </div>

            <div class="form-group">
              <label>Address</label>
              <input class="form-control" type="text" name="address" id="address" required>
            </div>

            <div class="text-center">
              <input class="" type="hidden" name="id" id="id">
              <button type="submit" id="submit" class="btn btn-success">Submit</button>
            </div>
        </form>

        <div style="height: 80px;"></div>
        <table id="data_table" class="table table-striped">
          <thead>
            <tr>
              <th>SL</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= data[i].name %></td>
              <td><%= data[i].email %></td>
              <td><%= data[i].phone %></td>
              <td><%= data[i].address %></td>
              <td align="right">
                <i class="btn btn-info fa fa-edit" onclick="read_data('<%= data[i].id %>');"></i>
                <i class="btn btn-danger fa fa-trash" onclick="destroy('<%= data[i].id %>');"></i>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>

      </div>
    </div>

    <script type="text/javascript">
        function save(event)
        {
            event.preventDefault();
            var url = $('#form').attr('action');
            var token = $('#token').val();
            var data = {
                token:token,
                name:$('#name').val(),
                email:$('#email').val(),
                phone:$('#phone').val(),
                address:$('#address').val(),
                id:$('#id').val()
            }

            fetch(url,{
              method:'post',
              headers: {'Content-Type':'application/json'},
              body:JSON.stringify(data)
            }).then(res => {
              if (res.ok) return res.json()
            }).then(data => {
              //swal({title:data.text, icon:data.type, button:true});
              $.notify(data.text, data.type);
              if(data.type == "success") { setTimeout(() => { window.location.reload(true) }, 700); }
            });
        }
        function read_data(id)
        {
        	fetch('edit_data',{
              method:'post',
              headers: {'Content-Type':'application/json'},
              body:JSON.stringify({id:id, token:'<%= token %>'})
            }).then(res => {
              if (res.ok) return res.json()
            }).then(data => {
                $('#name').val(data[0].name);
                $('#email').val(data[0].email);
                $('#phone').val(data[0].phone);
                $('#address').val(data[0].address);
                $('#id').val(data[0].id);
                $('#submit').text('Update');
            });
        }

        function destroy(id)
        {
            fetch('destroy',{
              method:'delete',
              headers: {'Content-Type':'application/json'},
              body:JSON.stringify({id:id, token:'<%= token %>'})
            }).then(res => {
              if (res.ok) return res.json()
            }).then(data => {
                //swal({title:data.text, icon:data.type, button:true});
                $.notify(data.text, data.type);
                if(data.type == "success") { setTimeout(() => { window.location.reload(true) }, 700); }
            });
        }
    </script>
